
/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
*
#quickstart-verify-email
{
display : none;
}
#quickstart-password-reset
{
display : none;
}
.signout{
  align-items: right;
}
.quickstart-user-details-container{
display : none;
}
.mdl-data-table td {
  padding: 5px 5px !important;
}
.mdl-data-table{
white-space:normal !important;
}
.mdl-data-table th{
  text-align: left !important;
  width: 20%;
  padding: 5px 5px !important;
}
.fullwidth {
    width: 90% ;

}
.minWidth{
  width: 100%;
  min-width: 65px;
}
.halfWidth{
  width: 5% !important;
  min-width: 65px;
}
.overflow{
  overflow: scroll;
}
.moduleTextarea{
  height: 120px;
}

.logo-container1{

    background-image : url(../img/logo.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 300px;
    height: 120px;
    width: 300px;
    display: inline-block;
}
.logo-container2{
    background-image : url(../img/cottonsLogo.gif);
    background-repeat: no-repeat, no-repeat;
    background-size: 300px;
    height: 120px;
    width: 300px;
    display: inline-block;
}
.module-text{
  text-align: left;
}
.italic{
  font-style: italic;
}
@media screen and (max-width: 479px) {
  .spacer45{
      opacity: 0;
      width : 20%;
  }
  .spacer33{
      opacity: 0;
      width : 5%;
  }
}
@media screen and (max-width: 839px) and (min-width: 480px)
{
  .spacer45{
      opacity: 0;
      width : 33%;
  }
  .spacer33{
      opacity: 0;
      width : 5%;
  }
}
@media screen and (min-width: 840px)
{
    .spacer45{
        opacity: 0;
        width : 40%;
    }
    .spacer33{
        opacity: 0;
        width : 5%;
    }
}

#a{
  color : #03d0e5;

}
